body {
  font-family: "Red Hat Display", sans-serif;
  background-image: url("images/pattern-background-mobile.svg");
  background-repeat: no-repeat;
  min-height: 100vh;
  background-color: rgb(224, 232, 255);
}

.component-container {
  width: 450px;
  height: 697px;
  position: absolute;
  left: 50%;
  top: 30%;
  margin-left: -150px;
  margin-top: -150px;
  border-radius: 20px;
  text-align: center;
}

.summary-container {
  background-color: #fff;
  padding-top: 35px;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 40px 20px rgba(13, 48, 189, 0.15);
}

.header-img {
  border-radius: 20px 20px 0 0;
}

h3 {
  font-weight: 800;
  color: #1f2e55;
  padding-bottom: 10px;
}

.summary-text {
  width: 70%;
  margin: auto;
  padding-bottom: 15px;
}

p {
  line-height: 1.6;
}

p,
.cancel-link {
  color: #717fa6;
}

.cancel-link {
  font-weight: 700;
  font-size: 15px;
  padding-bottom: 30px;
}

.price-container {
  background-color: #f7f9ff;
  border-radius: 11px;
  margin-bottom: 20px;
  padding: 20px 15px;
  width: 80%;
}

.annual-peryear {
  padding-right: 15px;
}

.annual-text {
  font-weight: 700;
  color: #1f2e55;
}

.per-year {
  color: #717fa6;
}

.change-link {
  font-size: 14px;
  font-weight: 700;
  color: rgb(56, 42, 225);
  text-decoration: underline;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: right;
  flex-direction: column;
  padding-right: 20px;
}

.payment-btn {
  background-color: #382ae1;
  color: #fff;
  border-radius: 10px;
  border: none;
  width: 80%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 15px;
  font-weight: 700;
  box-shadow: 0 20px 20px rgba(56, 42, 225, 0.19);
  margin-bottom: 30px;
}

@media (min-width: 376px) {
  body {
    background-image: url("images/pattern-background-desktop.svg");
  }
}

@media (max-width: 375px) {
  .summary-container {
    width: 60%;
  }
}
